<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaControlPanel</string>
	<key>CFBundleIconFile</key>
	<string>java48.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.oracle.java.JavaControlPanel</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Java</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.0_321</string>
	<key>CFBundleVersion</key>
	<string>11.321.2.07</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright ?? 2022 Oracle. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>JavaControlPanel</string>
	<key>NSPrefPaneIconFile</key>
	<string>Java7VM.icns</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Java</string>
	<key>NSPrincipalClass</key>
	<string>JavaControlPanel</string>
</dict>
</plist>
