<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.oracle.java.Helper-Tool</string>
        <key>ProgramArguments</key>
	<array>
        <string>/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Resources/Helper-Tool</string>
	</array>
	<key>WatchPaths</key>
	<array>
	<string>/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Resources/com.oracle.java.Java-Updater.plist</string>
	</array>
	<key>SHAuthorizationRight</key>
        <string>system.preferences</string>
</dict>
</plist>
