<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaAppletPlugin</string>
	<key>CFBundleIconFile</key>
	<string>Java7VM</string>
	<key>CFBundleIdentifier</key>
	<string>com.oracle.java.JavaAppletPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Java</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleShortVersionString</key>
	<string>Java 8 Update 321 build 07</string>
	<key>CFBundleVersion</key>
	<string>1.8.321.07</string>
	<key>NSHumanReadableCopyright</key>
	<string>Java Runtime, Copyright (c) 2022, Oracle and/or its affiliates. All rights reserved.</string>
	<key>SUAllowsAutomaticUpdates</key>
	<string>NO</string>
	<key>SUEnableAutomaticChecks</key>
	<string>NO</string>
	<key>SUEnableJavaScript</key>
	<string>YES</string>
	<key>SUFeedURL</key>
	<string>https://javadl-esd-secure.oracle.com/update/mac/map-mac-1.8.0.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUScheduledCheckInterval</key>
	<integer>604800</integer>
	<key>WebPluginDescription</key>
	<string>Displays Java applet content, or a placeholder if Java is not installed.</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/x-java-applet</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Basic Java Applet</string>
		</dict>
		<key>application/x-java-applet;deploy=11.321.2</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;javafx=8.0.321</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>JavaFX Applet</string>
		</dict>
		<key>application/x-java-applet;jpi-version=1.8.0_321</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.1</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.1.1</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.1.2</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.1.3</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.2</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.2.1</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.2.2</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.3</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.3.1</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.4</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.4.1</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.4.2</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.5</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.6</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.7</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-applet;version=1.8</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
		<key>application/x-java-vm</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Java Applet</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>Java Applet Plug-in</string>
</dict>
</plist>
