<map>
  <entry>
    <string>lastPath</string>
    <string>C:\Documents and Settings\Branislav Stojkovic\Desktop</string>
  </entry>
  <entry>
    <string>stickyPoints</string>
    <boolean>true</boolean>
  </entry>
  <entry>
    <string>theme</string>
    <org.diylc.core.Theme>
      <name>Light</name>
      <bgColor>
        <red>255</red>
        <green>255</green>
        <blue>255</blue>
        <alpha>255</alpha>
      </bgColor>
      <gridColor>
        <red>240</red>
        <green>240</green>
        <blue>240</blue>
        <alpha>240</alpha>
      </gridColor>
    </org.diylc.core.Theme>
  </entry>
  <entry>
    <string>antiAliasing</string>
    <boolean>true</boolean>
  </entry>
  <entry>
    <string>snapToGrid</string>
    <boolean>false</boolean>
  </entry>
  <entry>
    <string>hiQualityRender</string>
    <boolean>false</boolean>
  </entry>
  <entry>
    <string>showTemplatesAtStartup</string>
    <boolean>false</boolean>
  </entry>
  <entry>
    <string>exportGrid</string>
    <boolean>true</boolean>
  </entry>
</map>